.card{
  box-shadow: 5px 5px 5px rgb(82, 75, 62);
  padding: 40px;
  margin: 50px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
  border: 5px solid rgba(82, 75, 75, 0.342);
  border-radius: 8px;
  
}